<h1>Random Results</h1>

<dl>
<dt>Minimum</dt>
<dd><%= @usermin %></dd>
<dt>Maximum</dt>
<dd><%= @usermax %></dd>
<dt>Random number</dt>
<dd><%= @randomresult %></dd>
</dl>
<a href="/random/new">Pick another random number</a>
