
<form action="/square_root/results">
<label for="new_square_root">Enter a number</label>
<input id="new_square_root" type="text" placeholder="Enter a number">
<button>Calculate square root</button>
</form>
