
<form action=/square_root/results>
<label for="squareroot">Enter a number</label>
<input id="squareroot" type="text" placeholder="Enter a number" name="user_number">
<button>Calculate square root</button>
</form>
